In [1]:
import numpy as np
import pandas as pd
import json

# Setup

In [2]:
with open('../../config/config.json', 'r') as fh:
    params = json.load(fh)

In [3]:
zbp_detail_by_year = {}
zbp_totals_by_year = {}
hh_income_by_year = {}
total_pop_by_year = {}
retire_by_year = {}
for year in params['years']:
    shortened_year = str(year)[2:]
    detail_encoding = None
    totals_encoding = None
    if year >= 2017:
        detail_encoding = 'latin-1'
    if year >= 2018:
        totals_encoding = 'latin-1'
    zbp_detail_by_year[year] = pd.read_csv(f'../../src/data/raw/zbp_data/zbpdetail/zbp{shortened_year}detail/zbp{shortened_year}detail.txt', encoding=detail_encoding)
    zbp_totals_by_year[year] = pd.read_csv(f'../../src/data/raw/zbp_data/zbptotals/zbp{shortened_year}totals/zbp{shortened_year}totals.txt', encoding=totals_encoding)
    hh_income_by_year[year] = pd.read_csv(f'../../src/data/raw/household_data/ACSST5Y{year}.csv')
    total_pop_by_year[year] = pd.read_csv(f'../../src/data/raw/pop_age_data/ACSDP5Y{year}.csv')
    retire_by_year[year] = pd.read_csv(f'../../src/data/raw/retire_data/pop{year}.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../../src/data/raw/zbp_data/zbpdetail/zbp12detail/zbp12detail.txt'

# ZBP Detail

In [4]:
def is_2dig_naics(naics_code):
    return naics_code[:2].isnumeric() and not any(char.isdigit() for char in naics_code[2:])

def process_zbp_data(data, year):
    cols = ['zip', 'naics', 'est']
    if year <= 2016:
        cols += ['n1_4']
    else:
        cols += ['n<5']
    cols += ['n5_9', 'n10_19', 'n20_49', 'n50_99', 'n100_249', 'n250_499', 'n500_999', 'n1000']
    
    # filter and standardize col names
    data = data[cols]
    data = data.rename(columns={'n<5':'n1_4'})
    # filter only relavent zip codes
    data = data[data['zip'].apply(lambda x: x in params['zip_codes'])]
    # keep only 2dig naics
    data = data[data['naics'].apply(is_2dig_naics)]
    data['naics'] = data['naics'].apply(lambda x: x[:2])
    # cast est size bin cols to int, TREATING 'N'(Not available or not comparable) RECORDS AS 0
    for col in ['n1_4', 'n5_9', 'n10_19', 'n20_49', 'n50_99', 'n100_249', 'n250_499', 'n500_999', 'n1000']:
        data[col] = data[col].apply(lambda x: x if x != 'N' else 0).astype('int64')
    # assign year variable
    data = data.assign(year=np.full(data.shape[0], year))
    
    return data

In [5]:
for year in zbp_detail_by_year:
    zbp_detail_by_year[year] = process_zbp_data(zbp_detail_by_year[year], year)
    
zbp_detail_data = pd.concat(list(zbp_detail_by_year.values()), ignore_index=True).reset_index(drop=True)
zbp_detail_data.to_csv('../../src/data/temp/processed_zbp_detail_data.csv', index=False)
zbp_detail_data.head()

,zip,naics,est,n1_4,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,year
0,91901,23,88,68,7,6,5,1,0,1,0,0,2012
1,91901,31,2,1,1,0,0,0,0,0,0,0,2012
2,91901,42,9,9,0,0,0,0,0,0,0,0,2012
3,91901,44,67,25,21,16,4,1,0,0,0,0,2012
4,91901,48,8,8,0,0,0,0,0,0,0,0,2012

# ZBP Totals

In [6]:
def process_zbp_totals(data, year):
    # drop naming columns
    cols = ['name', 'city', 'stabbr', 'cty_name']
    if year <= 2017:
        cols += ['empflag']
    data = data.drop(columns=cols)
    # filter only relavent zip codes
    data = data[data['zip'].apply(lambda x: x in params['zip_codes'])]
    # assign year variable
    data = data.assign(year=np.full(data.shape[0], year))
    return data

In [7]:
for year in zbp_totals_by_year:
    zbp_totals_by_year[year] = process_zbp_totals(zbp_totals_by_year[year], year)
    
zbp_totals_data = pd.concat(list(zbp_totals_by_year.values()), ignore_index=True).reset_index(drop=True)
zbp_totals_data.to_csv('../../src/data/temp/processed_zbp_totals_data.csv', index=False)
zbp_totals_data.head()

     zip emp_nf   emp qp1_nf    qp1 ap_nf      ap  est  year
0  91901      H  4141      H  36304     H  174786  391  2012
1  91902      G  2265      G  19111     G   81569  349  2012
2  91903      S     0      G    123     G     491   13  2012
3  91905      G    19      S      0     H     748    9  2012
4  91906      D     0      D      0     D       0   27  2012

# Median Household Income Data Processing

In [4]:
# Reformats zip column to be  5 digit zip code
def reformat_zip(x):
    return x[6:11]

# Median household incomes 250000+ reformatted to 250000 and commas removed to convert object types to ints
def reformat_income(x):
    x = x.replace('+', '')
    return int(x.replace(',', ''))

# FUNCTION FOR PROCESSING HOUSEHOLD INCOME BY INPUT YEAR
def process_hh(data, year):
    hh2012 = data.T
    hh2012.columns = hh2012.iloc[0]
    hh2012 = hh2012.drop(hh2012.index[0])
    hh2012 = hh2012.reset_index()
    hh2012 = hh2012.rename_axis(None, axis=1)
    hh2012 = hh2012.rename(columns = {'index':'zip'})
    # Filtering data by household estimates
    hh2012 = hh2012[hh2012["zip"].str.contains(r'^(?=.*Households)(?=.*Estimate)')]
    hh2012['zip'] = hh2012['zip'].apply(reformat_zip)
    hh2012 = hh2012[['zip','Median income (dollars)']]
    hh2012['year'] = year
    # Dropping missing values
    hh2012 = hh2012[hh2012['Median income (dollars)'].str.contains('-')==False]
    hh2012 = hh2012[hh2012['Median income (dollars)'].str.contains('X')==False]
    hh2012['Median income (dollars)'] = hh2012['Median income (dollars)'].apply(reformat_income)
    hh2012['zip'] = hh2012['zip'].astype('int64')
    # Keeping only relevant zip-codes
    hh2012 = hh2012[hh2012['zip'].apply(lambda x: x in params['zip_codes'])]
    return hh2012

In [5]:
#Processing the household income data for 2012-2021
for year in hh_income_by_year:
    hh_income_by_year[year] = process_hh(hh_income_by_year[year], year)
    
hh_income_data = pd.concat(list(hh_income_by_year.values()), ignore_index=True).reset_index(drop=True)
hh_income_data.to_csv('../../src/data/temp/processed_hh_income_data.csv', index=False)
hh_income_data.head()

ValueError: No objects to concatenate

# Population Data Processing

In [6]:
#Removing commas from population strings before converting to floats.
def reformat_pop(x):
    return float(x.replace(',', ''))

def float_check(x):
    return isinstance(x, float)

In [7]:
#Function for processing population data by year
def process_pop(data, year):
    pop = data.T
    pop.columns = pop.iloc[0]
    pop = pop.drop(pop.index[0])
    pop = pop.reset_index()
    pop = pop.rename_axis(None, axis=1)
    pop = pop.rename(columns = {'index':'zip'})
    #Filtering population data by estimates only
    pop = pop[pop["zip"].str.contains(r'^(?=.*Estimate)')]
    pop['zip'] = pop['zip'].apply(reformat_zip)
    pop_column = pop.rename(columns = {'\xa0\xa0\xa0\xa0Total population': 'Total population'})
    pop['Total population'] = pop_column['Total population'].iloc[:,:1]
    pop = pop[['zip','Total population']]
    pop['year'] = year
    #Converting columns to appropriate datatypes
    pop['zip'] = pop['zip'].astype('int64')
    pop['Total population'] = pop['Total population'].astype(str)
    pop['Total population'] = pop['Total population'].apply(reformat_pop)
    # Keeping only relevant zip-codes
    pop = pop[pop['zip'].apply(lambda x: x in params['zip_codes'])]
    return pop

In [8]:
#Processing all population estimate data from 2012-2021
for year in total_pop_by_year:
    total_pop_by_year[year] = process_pop(total_pop_by_year[year], year)

total_pop_data = pd.concat(list(total_pop_by_year.values()), ignore_index=True).reset_index(drop=True)
total_pop_data.to_csv('../../src/data/temp/processed_total_pop_data.csv', index=False)
total_pop_data.head()

ValueError: No objects to concatenate

# Retirement Data Processing

In [9]:
retire_by_year = {}
payroll_estab_by_year = {}
for year in params['years']:
    shortened_year = str(year)
    retire_encoding = None
    payroll_encoding = None
    
    if year >= 2018:
        retire_encoding = 'latin-1'
        payroll_encoding = 'latin-1'
    retire_by_year[year] = pd.read_csv(f'../../src/data/raw/retire_data/pop{shortened_year}.csv', encoding=retire_encoding)
    payroll_estab_by_year[year] = pd.read_csv(f'../../src/data/raw/cbp_data/cbp{shortened_year}.csv', encoding=payroll_encoding)

In [10]:
san_diego_county_zipcodes = [
    '91901', '91902', '91905', '91906', 
    '91910', '91911',
    '91913', '91914', '91915', '91916', '91917', '91931', '91932', '91934', 
    '91935', '91941', '91942', 
    '91945', '91948', '91950', 
    '91962', '91963', '91977', '91978', 
    '91980', '92003', '92004', '92007', 
    '92008', '92009', '92010', '92011',  
    '92014', '92019', '92020', '92021', '92024', '92025', '92026', 
    '92027', '92028', '92029', 
    '92036', '92037', '92040', '92054', 
    '92055', '92056', '92057', '92058', '92059', 
    '92060', '92061', '92064', '92065', '92066', 
    '92067', '92069', '92070', '92071', 
    '92075', '92078', 
    '92081', '92082', '92083', '92084',  
    '92086', '92091',  
    '92101', '92102', '92103', '92104', 
    '92105', '92106', '92107', '92108', '92109', 
    '92110', '92111', '92113', '92114', 
    '92115', '92116', '92117', '92118', '92119', 
    '92120', '92121', '92122', '92123', '92124', 
    '92126', '92127', '92128', '92129', '92130', 
    '92131', '92132', '92134', '92135', 
    '92139', '92140',  
    '92145', '92147', 
    '92154', '92155']

In [11]:
def process_retire_data(data, year):
    
    column_names = data.columns
    # Only getting Estimates
    filtered_columns = [col for col in column_names if col[-8:] == 'Estimate' and col[6:11].isdigit()]

    data = data[filtered_columns]

    # Cleaning up so that the rows are just the zipcode
    data.columns = data.columns.str.replace('ZCTA5 ', '').str.replace('!!Estimate', '')
    
    # Filter columns based on San Diego County zip codes
    data = data[san_diego_county_zipcodes]

    # Selecting: Total population and retired aged
    selected_rows = data.loc[[1, 9, 10, 14, 15, 16]]

    # Define the new row names
    og_names = {
        1: 'Total population',
        9: '25 to 34 years',
        10: '35 to 44 years',
        14: '65 to 74 years',
        15: '75 to 84 years',
        16: '85 years and over'
    }

    data = selected_rows.rename(index=og_names)
      
    # Remove commas from all numbers in all columns
    data = data.applymap(lambda x: str(x).replace(',', ''))

    # Convert all columns to numeric type
    data = data.apply(pd.to_numeric, errors='ignore')

    # Creating row that is total retirement population
    new_row = data.iloc[3] + data .iloc[4] + data.iloc[5]

    new_row.name = 'Total Retirement'

    # Append the new row to the DataFrame
    data = data.append(new_row)
    
    # Creating row that is total mid career population
    new_row = data.iloc[1] + data .iloc[2]

    new_row.name = 'Total Mid Career'
    
    # Append the new row to the DataFrame
    data = data.append(new_row)
    
    data = data.loc[['Total population', 'Total Retirement', 'Total Mid Career']]
    
    data = data.reset_index().T

    # Assign year variable
    data = data.assign(year=np.full(data.shape[0], year))
    
    data = data.drop(data.index[0])
    
    data = data.reset_index()
    
    data = data.rename(columns={0: 'Total Population', 1: 'Total Retirement (65+ years)', 2: 'Total Mid Career (25-44 years)', 'index': 'zip'})
    data['zip'] = data['zip'].astype('int64')
    
    return data

In [12]:
for year in retire_by_year:
    retire_by_year[year] = process_retire_data(retire_by_year[year], year)

retire_data = pd.concat(list(retire_by_year.values()), ignore_index=True).reset_index(drop=True)
retire_data.to_csv('../../src/data/temp/processed_retire_detail_data.csv', index=False)
retire_data.head()

,zip,Total Population,Total Retirement (65+ years),Total Mid Career (25-44 years),year
0,91901,17034.0,2691.0,3452.0,2012
1,91902,17659.0,3485.0,4031.0,2012
2,91905,1088.0,101.0,225.0,2012
3,91906,3679.0,395.0,836.0,2012
4,91910,73761.0,9195.0,19426.0,2012

# Payroll and Number of Establishments Data

In [13]:
def process_payroll_estb_data(data, year):
    first_column_name = data.columns[0]
    second_column_name = data.columns[1]
    third_column_name = data.columns[2]

    data['zip'] = data[first_column_name].str.replace(r'\D', '', regex=True).astype('int64')
    data['NAICS Code'] = data[second_column_name]
    data['Meaning of NAICS Code'] = data[third_column_name]
    data.drop(columns=[first_column_name, second_column_name, third_column_name], inplace=True)
    
    new_column_names = {
                        'Year (YEAR)': 'year', 
                        'Number of establishments (ESTAB)': 'Number of Establishments',
                        'Annual payroll ($1,000) (PAYANN)': 'Annual Payroll ($1,000)',
                        }

    data.rename(columns=new_column_names, inplace=True)
    
    return data

In [14]:
for year in payroll_estab_by_year:
    payroll_estab_by_year[year] = process_payroll_estb_data(payroll_estab_by_year[year], year)

pay_estb_data = pd.concat(list(payroll_estab_by_year.values()), ignore_index=True).reset_index(drop=True)
pay_estb_data.to_csv('../../src/data/temp/processed_payroll_estb_data.csv', index=False)
pay_estb_data.head()

,year,Number of Establishments,"Annual Payroll ($1,000)",zip,NAICS Code,Meaning of NAICS Code
0,2012,"3,790","3,184,407",92101,0,Total for all sectors
1,2012,9,N,92101,11,"Agriculture, forestry, fishing and hunting"
2,2012,9,N,92101,22,Utilities
3,2012,53,N,92101,23,Construction
4,2012,42,N,92101,31-33,Manufacturing

# Unemployment Data

In [16]:
file_path = '../../src/data/raw/employment_data/employment.csv'
employment_rate = pd.read_csv(file_path)

# Only get the year
employment_rate['year'] = pd.to_datetime(employment_rate['DATE']).dt.year

employment_rate = employment_rate.drop(columns=['DATE','CASAND5URN_20240104'])

employment_rate.rename(columns={'CASAND5URN_20231130': 'unemployment_rate'}, inplace=True)

unemployment_by_year = employment_rate.groupby('year')['unemployment_rate'].mean().reset_index()

unemployment_by_year.head()

   year  unemployment_rate
0  2012           9.275000
1  2013           7.941667
2  2014           6.516667
3  2015           5.241667
4  2016           4.741667