In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# DATA

In [4]:
file_path = '../../src/data/temp/zbp_totals_with_features.csv'
data = pd.read_csv(file_path)
data.head()

,zip,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,est,year,naics_11_pct,...,n50_99_pct,n100_249_pct,n250_499_pct,n500_999_pct,n1000_pct,median_hh_income,total_population_x,total_population_y,total_retirement,total_midcareer
0,91901,H,4141,H,36304,H,174786,391,2012,0.000000,...,0.010230,0.005115,0.002558,0.0,0.002558,76496,17034.0,17034.0,2691.0,3452.0
1,91902,G,2265,G,19111,G,81569,349,2012,0.002865,...,0.017192,0.002865,0.000000,0.0,0.000000,86099,17659.0,17659.0,3485.0,4031.0
2,91905,G,19,S,0,H,748,9,2012,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,70000,1088.0,1088.0,101.0,225.0
3,91906,D,0,D,0,D,0,27,2012,0.000000,...,0.000000,0.000000,0.037037,0.0,0.000000,54135,3679.0,3679.0,395.0,836.0
4,91910,G,19799,G,200767,G,805325,1458,2012,0.000686,...,0.021262,0.013032,0.002743,0.0,0.001372,55875,73761.0,73761.0,9195.0,19426.0

# Exploratory Data Analysis

In below, we check for trends within the above features, Specifically how they change over time and coorelation with the number of establishments (est)